{{ define "main" }}

<main aria-role="main"> 

  <div class="content"> 
    <div class="index-content framed">
      <div align="center">
        <img style="width: 50%;" src="/img/programming.svg" alt="programming">
        <h1 id="title">{{ .Title }} 2021</h1>
        <div class="post">
          <p><strong>Saturday Morning Snippets</strong> è un evento organizzato per gli studenti del Dipartimento di Matematica e Informatica 
            dell'Università degli Studi di Catania sotto la supervisione del prof. <strong>Mario Di Raimondo</strong>.
          </p>
          <div align="center">
            <a class="read-more button" href="/timeline">Timeline→</a>
          </div>
        </div>
      </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
