{{ define "main" }}

<main aria-role="main">

  <div class="content">
    <div class="index-content framed">
      <div align="center">
        <img style="width: 50%;" src="/img/programming.svg" alt="programming">
        <h1 id="title">{{ .Title }} 2021</h1>
        <div class="post">
          <p><strong>Saturday Morning Snippets</strong> è un evento organizzato dagli studenti del Dipartimento di Matematica e Informatica dell'Università di Catania sotto la supervisione del professore Mario&nbspDi&nbspRaimondo.<br> L'evento prevede una serie di seminari su tematiche che promuovono ambienti e tecnologie Open-Source. Gli interventi sono tenuti on-line e sono aperti a tutti gli interessati.
          <div align="center">
            <a class="read-more button" href="/programma">Programma</a>
          </div>
          <div class="mobileShow" align="center">
            <a class="read-more button" href="/contatti" style="margin: 0 auto !important;">Contatti</a>
          </div>
          <br>
          <div align="center">
            <img style="width: 30%;" src="/img/unict-logo.png">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

</main>



{{ end }}
