<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}" style="text-decoration: none;">
    <div class="logo">
        <span class="logo__text">> </span>
        <span class="logo__mark"> </span>
        <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ end }}</span>
        <span class="logo__mark"> </span>
        <span class="logo__text">cd /Saturday-Morning-Snippets/</span>
        <span class="logo__cursor" style=
                  "{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                   {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                   {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}">
            </span>
    </div>
</a>
