{{ define "main" }}
  <main class="post">
    <article>
      <h1 class="post-title">
        {{ .Title | markdownify }}
      </h1>

      {{- if .Params.toc }}
        <hr />
        <aside id="toc">
          <div class="toc-title">{{ i18n "tableOfContents" }}</div>
          {{ .TableOfContents }}
        </aside>
        <hr />
      {{- end }}

      {{ with .Params.Cover }}
        <img src="/{{ . }}" class="post-cover" />
      {{ end }}

      <div class="post-content">
        {{ .Content }}
      </div>
    </article>

    {{- if .Site.Params.EnableSharingButtons }}
      <hr />
      <div class="sharing-buttons">
        {{ partial "sharing-buttons.html" . }}
      </div>
    {{- end }}

    {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
      <div class="pagination">
        <div class="pagination__title">
          <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
          <hr />
        </div>

        <div class="pagination__buttons">
          {{ if .NextInSection }}
            <span class="button previous">
              <a href="{{ .NextInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .NextInSection.Title }}</span>
              </a>
            </span>
          {{ end }}

          {{ if .PrevInSection }}
            <span class="button next">
              <a href="{{ .PrevInSection.Permalink }}">
                <span class="button__text">{{ .PrevInSection.Title }}</span>
                <span class="button__icon">→</span>
              </a>
            </span>
          {{ end }}
        </div>
      </div>
    {{ end }}


    {{ if .Site.DisqusShortname }}
      {{ if not (eq .Params.Comments "false") }}
        <div id="comments">
          {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    {{ end }}

  </main>
{{ end }}
